/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.5;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
    font-weight: normal;
    font-size: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol {
    list-style: none;
}
li {
    list-style: none;
}
input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    color: inherit;

}
button {
    cursor: pointer;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset {
    border: none;
}
legend {
    padding: 0;
}
/* Reset */
.main_____container {
    width: 70%;
    margin: 0 auto;
    font-family: 'Inter',sans-serif;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin-top: 0.4rem;
  border-bottom: black 1px solid;
}


.nav div {
  display: flex;
  gap: 1.4rem;
}
