{% extends "main/bp.html"%}
{% load static %}
{% block link_style%} <link rel="stylesheet" href="{% static 'main/record_control.css'%}"/> {% endblock%}
{% block title %}
Управление записями
{%endblock%}

{% block content%}
    <form method="POST" class='form'>
        {% csrf_token %}
        <h2 class="form__title">Создать запись</h2>
        <div class="form__box">
            <label class="form__label">Дата</label>
            {{ form.date }}
        </div>
        <div class="form__box">
            <label class="form__label">Статус</label>
            {{ form.status }}
        </div>
        <div class="form__box">
            <label class="form__label">Тип</label>
            {{ form.type }}
        </div>
        <div class="form__box">
            <label class="form__label">Категория</label>
            {{ form.category }}
        </div>
        <div class="form__box">
            <label class="form__label">Подкатегория</label>
            {{ form.subcategory }}
        </div>
        <div class="form__box">
            <label class="form__label">Сумма</label>
            {{ form.sum }}
        </div>
        <div class="form__box">
            <label class="form__label">Комментарий</label>
            {{ form.comment }}
        </div>
        <button type="submit" class="form__button">Отправить</button>
    </form>
{% endblock %}